%proxima-400 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}

%proxima-700 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
}

%proxima-800 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

%monti-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%monti-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

$accent: #e0ff66;

$dark: #000;
$dark2: #212121;
$dark3: #252525;

$gray1: #f0f0f0;
$gray2: #393939;
$gray3: #cccccc;
