%proxima-400 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}

%proxima-700 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
}

%proxima-800 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 800;
}

$accent: #E0FF66;

$dark: #000;

$gray1: #F0F0F0;
$gray2: #393939;
