.main__information {
  .information__item {
    border-bottom: 1px solid $dark;
  }
}

.information {
  &__item {
    padding: 100px 0;
  }
  
}

@media (max-width: 992px) {
  .information__item {
    padding: 64px 0;
  }
}
