.main {
  &__calendar {
    margin-bottom: 150px;
  }
}
.calendar {
  &__titlespecial {
    margin-bottom: 100px;
  }

  &__head {
    margin-bottom: 80px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid $dark;
  }
  &__body {
    margin-bottom: 32px;
  }
}

.calendar-prev {
  display: flex;
  align-items: center;
  gap: 0 16px;
  &__title {
    @extend %proxima-700;
    font-size: 24px;
    line-height: 26px;
    color: $dark;
  }
}

.calendar-next {
  display: flex;
  align-items: center;
  gap: 0 16px;
  &__title {
    @extend %proxima-700;
    font-size: 24px;
    line-height: 26px;
    color: $dark;
  }
}

.calendar-main {
  &__title {
    text-align: center;
  }
}

.calendar-items {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .timetable-item {
    max-width: 1030px;
    border-bottom: 1px solid $dark;
    &__value {
      gap: 13px 0;
    }
    &__day {
      font-size: 48px;
      line-height: 58px;
    }

    &__time {
      @extend %proxima-800;
    }
  }
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 0 16px;
    @extend %proxima-700;
    font-size: 20px;
    line-height: 24px;
    color: $dark;
  }
}

@media (max-width: 992px) {
  .main__calendar {
    margin-bottom: 100px;
  }
  .calendar__titlespecial {
    margin-bottom: 64px;
  }
  .calendar__head {
    flex-wrap: wrap;
    gap: 0 16px;
    padding-bottom: 16px;
    margin-bottom: 48px;
    .calendar-main {
      margin-top: 40px;
      width: 100%;
      order: 2;
    }
  }
  .calendar-prev {
    gap: 0 8px;
  }
  .calendar-prev__title {
    font-size: 16px;
    line-height: 18px;
  }

  .calendar-next {
    gap: 0 8px;
  }
  .calendar-next__title {
    font-size: 16px;
    line-height: 18px;
  }

  .calendar-items .timetable-item__day {
    font-size: 32px;
    line-height: 38px;
  }

  .calendar-items .timetable-item__time {
    flex-basis: 50px;
  }
}

@media (max-width: 576px) {
  .calendar-items .timetable-item__time {
    font-size: 16px;
  }
}

@media (max-width: 475px) {
  .calendar-items .timetable-item__title {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .calendar-prev__title {
    font-size: 14px;
  }
  .calendar-next__title {
    font-size: 14px;
  }
  .calendar-main__title {
    font-size: 25px;
  }
}
