.main__services-list {
  margin-bottom: 50px;
}
.services-list {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 100px 0;
    .service-item {
      padding-bottom: 100px;
      border-bottom: 1px solid $dark;
    }
    .service-item:last-child {
      border-bottom: 0;
    }
  }
  &__title-special {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .main__services-list {
  margin-bottom: 68px;
}
  .services-list__title-special {
    margin-bottom: 64px;
  }
  .services-list__inner {
    gap: 0;
  }
  .services-list__inner .service-item {
    padding-bottom: 64px;
    border-bottom: 0;
  }
}
