.header {
  padding: 12px 32px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__list-link {
    @extend %proxima-700;
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
  }
}
.header-control {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.langswitcher {
  display: flex;
  align-items: center;
  gap: 0 8px;
  @extend %proxima-400;
  font-size: 16px;
  &__link {
    text-transform: uppercase;
    color: rgba($dark, 0.2);
    transition: all 0.2s;
  }
  &__link--active {
    color: $dark;
  }
  &__link:hover {
    color: $dark;
  }
}

.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.2s;
  overflow: hidden;
  &.active {
    top: 0;
    overflow: hidden;
  }
  &__inner {
  }
  &__head {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 88px;
  }
  &__head-logo {
    width: 100%;
    max-width: 63px;
  }
  &__body {
  }
}
.item-menu {
  &__title {
  }
  &__icon {
  }
  &__list {
  }
  &__link {
  }
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0 20px;
  }

  .header-control {
    gap: 0 32px;
  }
}
