.btn-special {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 12px 26px;

  @extend %proxima-700;

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  border: 2px solid #fff;
  cursor: pointer;

  transition: all .2s;

}

.btn-special:hover {
  background-color: $accent;
  color: $dark;
  border: 2px solid $dark;
}
