
.burger {
  position: relative;
  z-index: 5;
  width: 32px;
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  cursor: pointer;
}

.burger span {
  height: 3px;
  background-color: $dark;
  transition: all 0.2s;
}

.burger.active {
  margin-top: -70px;
  margin-right: 30px;
}

.burger.active span:nth-child(1) {
  transform: translate(0, 9px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  transform: scale(0);
}
.burger.active span:nth-child(3) {
  transform: translate(0, calc(-1 * 9px)) rotate(-45deg);
}
