.main {
  &__childschurch {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.childschurch {
  &__title {
    margin-bottom: 100px;
    text-align: center;
    @extend %proxima-800;
    font-size: 70px;
    line-height: 84px;
    color: $dark;
  }
}

@media (max-width: 992px) {
  .main__childschurch {
    margin-top: 90px;
    margin-bottom: 64px;
  }

  .childschurch__title {
    padding-bottom: 24px;
    border-bottom: 1px solid $dark;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 64px;
  }
  .childschurch .childschurch-item__img {
    display: none;
  }
}
