.newcomer-item {
  width: 100%;
  max-width: 520px;
  &__title {
    margin-bottom: 24px;
  }
  &__content {
    p:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 992px) {
  .newcomer-item {
    max-width: none;
  }
}
